<!DOCTYPE html>
<html>
<head>
  <title>Movie detail</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script src="/javascripts/details.js" defer></script>

</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->    
    <section class="movie__detail">

    </section>
</body>