<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/app.js" defer></script>
  </head>
  <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
  <body>
    <h1 class="titulo">Movies!</h1>
    <section class="todas_container">
     
    </section>
  </body>
  </html>
    