<header class="header_container">
    <div class="logo_menu">
        <a class="logo" href="/"><img class="logo" src="\images\Palomitas_de_Maiz_icono.webp" alt="img"></a>
        <div class="menu">
            <nav class="nav">
                    <a href="/favorites">Favorites</a>
            </nav>                
        </div>
    </div>
    <div class="search">
        <input type="search" placeholder="Buscar pelicula..." class="buscador" />
    </div>
</header>